Django==5.0.6

djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1

django-cors-headers==4.3.1
django-environ==0.11.2
django-filter==24.2

channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
redis==5.0.4

PyMySQL==1.1.1
psycopg[binary]==3.2.13

Pillow
python-dotenv
